<footer class="bg-grey-light">

  <div class="container mx-auto p-16 flex justify-between items-center">

    <div>
      <h4 class="font-bold font-display text-2xl">Connect</h4>
      <ul>
        <li>Twitter</li>
        <li>Dribble</li>
        <li>Instagram</li>
      </ul>
    </div>

    <div>
      <h4 class="font-bold font-display text-2xl">Docs</h4>
      <ul>
        <li>Crash course</li>
        <li>FAQ</li>
        <li>API Reference</li>
      </ul>
    </div>

    <div>
      <h4 class="font-bold font-display text-2xl">Support</h4>
      <ul>
        <li>Contact</li>
        <li>Support</li>
        <li>Release notes</li>
      </ul>
    </div>

  </div>

</footer>
