
<calm-header>
</calm-header>

<calm-light-bg>
  <calm-main-section>
    <undraw-path height="288" width="410">
    </undraw-path>

    <div class="flex flex-col items-end" style="width: 500px">

      <calm-heading text-align="right">
        This is a Firebase demo for ng-conf
      </calm-heading>
  
      <div class="mb-8"></div>

      <button 
        (click)="signIn()"
        class="px-12 py-4 text-2xl bg-purple text-white font-display font-bold uppercase rounded-lg">
        SIGN UP
      </button>

    </div>
  </calm-main-section> 

  <calm-main-section>

    <div class="flex flex-col items-start" style="width: 600px">

      <calm-heading>
        calmban organizes your tasks
      </calm-heading>

      <div class="mb-8"></div>
  
      <button 
        (click)="signIn()"
        class="px-12 py-4 text-2xl bg-purple text-white font-display font-bold rounded-lg">
        Seriously, sign up
      </button>
    </div>

    <undraw-tasks height="288" width="241">
    </undraw-tasks>

  </calm-main-section>

</calm-light-bg>

<calm-dark-bg>

  <calm-main-section>

    <undraw-friends height="446" width="467">
  
    </undraw-friends>

    <div class="flex flex-col items-end">

      <calm-heading text-align="right" text="grey-light">
        This is a really nice illustration
      </calm-heading>

      <div class="mb-8"></div>

      <p
        style="width: 500px;" 
        class="text-body text-xl text-grey-light text-right">
        And here’s some nice filler text about how this thing is super cool and you should use it.
      </p>

    </div>

  </calm-main-section>

</calm-dark-bg>

<calm-light-bg>

  <calm-main-section>

    <div class="flex flex-col items-start">

      <calm-heading>
        Powered by Firebase
      </calm-heading>

      <div class="mb-8"></div>

      <p
        style="width: 500px;" 
        class="text-body text-xl text-left">
        Calmban uses Firestore, Authentication, Storage, Extensions, and Analytics. Because Firebase is awesome.
      </p>
    </div>

    <undraw-campfire height="347" width="447">
    </undraw-campfire>

  </calm-main-section>

</calm-light-bg>

<calm-dark-bg>

  <div 
    style="padding: 2rem 0;"
    class="mt-32 flex flex-col items-center justify-center">

    <calm-heading text="grey-light" text-align="center">
      Let's get started
    </calm-heading>

    <div class="mb-8"></div>

    <button 
      (click)="signIn()"
      class="px-16 py-4 bg-grey-light text-purple-darker uppercase font-bold font-display text-3xl rounded-lg">
      SIGN UP
    </button>
  </div>

</calm-dark-bg>

<calm-footer></calm-footer>
